# Exercises: Creating, Updating, and Destroying Objects

For the exercises, you will be working with objects and data you create. Before opening this notebook, make sure that you have set up the new connection to the server and that you have located the database and your schema.

## Object Creation

Before coding, think of three things you want to make. These could be coding projects, new recipes, or planned projects for a woodworking hobby. Brainstorm the appropriate column names and data types as well.

Create a table under your schema called `planned_makes`.

In [24]:
CREATE TABLE JunkDB_STL_Sept2022.meghanaj.new_recipes
  (id INT PRIMARY KEY IDENTITY (1,1),
   name VARCHAR(25) NOT NULL,
   ingredients VARCHAR(100),
   instructions VARCHAR(200));

Add three rows to your table that are your planned makes.

In [25]:
INSERT INTO JunkDB_STL_Sept2022.meghanaj.new_recipes (name,ingredients,instructions)
VALUES ( 'Cake',  'Flour, eggs, butter, sugar', 'mix everything and bake'  );

In [26]:
INSERT INTO JunkDB_STL_Sept2022.meghanaj.new_recipes (name,ingredients,instructions)
VALUES ( 'Cookie',  'Flour, eggs, butter,chocolate chips', 'mix everything and bake');

In [27]:
INSERT INTO JunkDB_STL_Sept2022.meghanaj.new_recipes (name,ingredients,instructions)
VALUES ( 'Pie',  'Flour, eggs, butter, apples', 'mix everything and bake');

## Update a Row

Change different values in one of your three rows.

In [28]:
UPDATE JunkDB_STL_Sept2022.meghanaj.new_recipes 
SET instructions = 'preheat oven, mix everything and bake' 
WHERE id = 2;

## Delete a Row

Delete one of the rows from your table.

In [29]:
DELETE FROM JunkDB_STL_Sept2022.meghanaj.new_recipes 
WHERE name = 'Pie'

## Drop the Table

While this has been fun, it is time to drop the table!

In [30]:
DROP TABLE JunkDB_STL_Sept2022.meghanaj.new_recipes;